.container {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 4rem;
}

.tasks {
  max-width: 46rem;
}

.tasks header {
  flex: 1;
  width: 46rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tasks header p {
  color: var(--blue-300);
  font-weight: 700;
}

.tasks header p + p {
  color: var(--purple-300);
}

.tasks header span {
  margin-left: 6px;
  padding: 0 8px;

  border-radius: 10px;

  color: var(--gray-200);
  background: var(--gray-400);
}

.tasks article {
  flex: 1;
  width: 46rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.emptyBox {
  flex: 1;
  margin-top: 5.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  margin-bottom: 1rem;
  color: var(--gray-400);
}

.emptyBox p {
  font-weight: 700;
  color: var(--gray-300);
  font-size: 1rem;
}

.emptyBox p + p {
  font-weight: 400;
}